
body {
    background-color: hsl(212, 45%, 89%);
}

.wrapper {
    border: 2px solid black;
    border-radius: 15px;
    width: 320px;
    height: 499px;
    padding: 0;
    background-color: white;
    font-family: 'Outfit', sans-serif, monospace;
}

.wrapper img {
    width: 288px;
    border-radius: 10px;
    margin: 16px 16px 24px 16px;
}

.wrapper h2 {
    font-size: 20px;
    margin-top: 0;
    padding: 0 16px 16px 0;

}

.wrapper p {
    text-align: center;
    font-size: 15px;
    width: 288px;
    margin: 16px;
    padding: 0 16px 16px 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 100px;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}