
body {
    background-color: hsl(212, 45%, 89%);
}


.wrapper img {
    width: 150px;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}